<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrafficRacerGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TrafficRacerGame.Properties.Settings>
            <setting name="ferrariDb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lamboDb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mustangDb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yavasDb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ortaDb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hızlıDb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skorum" serializeAs="String">
                <value>0</value>
            </setting>
        </TrafficRacerGame.Properties.Settings>
    </userSettings>
</configuration>